.oveplay {
  // position: absolute;
  display: flex;

  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9990;
  left: 0;
  top: 0;

  .oveplayconten {
    box-sizing: border-box;
    padding: 30px;
    margin-top: 200px;
    width: 85%;
    margin: auto;
    height: 85%;
    color: black;
    background-color: white;
    .close {
      float: right;
    }
  }
}
