.container {
  .itemconten {
    background-color: white;
    box-sizing: border-box;
    padding: 15px;

    justify-content: space-between;
    border-radius: 10px;
    margin-top: 15px;
  }
  .contenchart2 {
    height: 100px;
  }
  .btnsubmit {
    background-color: #007bff;
    color: white;
    border: 0;
    border-radius: 5px;
  }
}
.oveplay {
  // position: absolute;
  display: flex;

  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9990;
  left: 0;
  top: 0;

  .oveplayconten {
    box-sizing: border-box;
    padding: 30px;
    margin-top: 200px;
    width: 80%;
    margin: auto;
    height: 80%;
    color: black;
    background-color: white;
    .close {
      float: right;
    }
  }
}
